*{
margin: 0;
padding: 0;
}

.tabela{
height: 100vh;
width: 100vw;
display: grid;
grid-template-columns: 20% 40% 40%;
grid-template-rows: 8% 4% 40% 40% 8%;
grid-template-areas:
"logo header header"
"search search search"
"lblock cont1 cont2"
"lblock cont3 cont4"
"footer footer footer";
}

#logo{
grid-area: logo;
text-align: center;
background-color: #2E4053;
}
#header{
grid-area: header;
background-color: #2E4053;
}
#search{
grid-area: search;
background-color: #263544;
text-align: center;
}
#lblock{
grid-area: lblock;
background-color: #EAF4FF;
}
#cont1{
grid-area: cont1;
}
#cont2{
grid-area: cont2;
}
#cont3{
grid-area: cont3;
}
#cont4{
grid-area: cont4;
}
#footer{
grid-area: footer;
text-align: center;
background-color: #2E4053;
}

.cont{
height: 100%;
margin-left: 25%;
margin-right: auto;
}
.sinp{
height: 100%;
width: 180px;
margin-left: 5%;
margin-right: 5%;
text-align: center;
}
#logom{
height: 100%;
width: auto;
}

h1{
text-align: center;
}
p{
text-align: justify;
margin-left: 5%;
margin-right: 5%;
}

#ofertas {
background-color: #2E4053;
border: 2px solid #263544;
border-radius:5px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:20px;
font-weight:bold;
padding:12px 30px;
text-decoration:none;
transition: 0.2s;
}
#ofertas:hover {
background-color: #00000000;
color: #000000;
transition: 0.2s;
}

p#fp{
text-align: center!important;
color: #888!important;
}
